.field{ border-color: gold;border-style:solid;}
#tamil{color:orange;font-size:25pt;font-family:cambria;}
#lt{font-size:15pt;font-family:cambria;}
.dubline{border-color:green;}
.anime{border-color:purple;}
h4{color:brown;font-family:cambria;}
.t{border-color:red;}
#naready{color:orange;font-size:15pt;font-family:cambria;}
a:hover{background-color:skyblue;}
