.navbar{ list-style-type:none;align:center;position:fixed;}
#page{float: left;}
.active{background-color:green;}
li a{display:block;color:white;text-align:center;text-decoration:none;padding:14px 16px;}
li a:hover{background-color:red;}
